.MessageBlock {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}
.topMessage {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid lightblue;
}
.topMessage span {
    font-weight: normal;
}
.nonM {
    margin: 12px 0;
}